section.card
  background-color: var(--color-neutral-0)
  border: 1px solid rgba(var(--color-primary-rgb), 0.25)
  box-shadow: 0px 3px 20px 0px rgba(1, 62, 82, 0.12)
  margin-block-start: var(--spacing-12)
  margin-block-end: var(--spacing-12)
  padding: var(--layout-gap)
  padding-bottom: calc(var(--layout-gap) * .25)
  body.dark-mode &
    background-color: var(--color-neutral-2)
    border-color: var(--color-neutral-3)
    box-shadow: 0px 3px 20px 0px rgba(3, 7, 18, 0.75)
  body.phone &
    border-left: 0
    border-right: 0
    margin-left: calc(var(--layout-gap) * -1)
    margin-right: calc(var(--layout-gap) * -1)