/* latin-ext */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(../RobotoSlab_normal_100_900_latin-ext.woff2?tO5iU9hxbg6cXXCdq1xO0Q) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(../RobotoSlab_normal_100_900_latin.woff2?ZYGrU8IgtYKONxYjSTdUMQ) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Source Sans 3';
    font-style: italic;
    font-weight: 200 900;
    font-display: swap;
    src: url(../SourceSans3_italic_200_900_latin-ext.woff2?c1zFyWYQeZqNx3eXMmlDwg) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Source Sans 3';
    font-style: italic;
    font-weight: 200 900;
    font-display: swap;
    src: url(../SourceSans3_italic_200_900_latin.woff2?rM4JaGbu+QIYcSFUhioPbQ) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 200 900;
    font-display: swap;
    src: url(../SourceSans3_normal_200_900_latin-ext.woff2?EETcKYMYWb2kAPqdOFNSYg) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 200 900;
    font-display: swap;
    src: url(../SourceSans3_normal_200_900_latin.woff2?7auEpPb1Ic2eZmmdD_boWA) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --layout-gap: 60px;
    --logo-height: 60px;
}
@media only screen and (max-width: 1024px) {
    :root {
        --layout-gap: 40px;
        --logo-height: 50px;
    }
}
@media only screen and (max-width: 768px) {
    :root {
        --layout-gap: 20px;
        --logo-height: 40px;
    }
}

html {
    height: 100%;
}
body {
    height: 100%;
}
.layout-wrapper {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.header {
    align-items: center;
    gap: var(--layout-gap);
    display: flex;
    height: calc(var(--logo-height) * 1.5);
    justify-content: space-between;
    padding: 0 var(--layout-gap);
    width: 100%;
    z-index: var(--layer-global-navigation);
}
.header.header-sticky {
    left: 0;
    position: sticky;
    top: 0;
    right: 0;
}
.header .logo {
    height: var(--logo-height);
    width: auto;
}
.header .header-toggles a:not(:first-child) {
    margin-left: 0.5em;
}

.main {
    background-color: transparent;
    margin: 20px auto;
    max-width: 1000px;
    width: calc(100% - var(--layout-gap) * 2);
}

.footer {
    align-items: center;
    background: var(--color-primary);
    bottom: 0;
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 8px var(--layout-gap);
    position: sticky;
    text-decoration: none;
    white-space: nowrap;
    width: 100%;
}
.footer .footer-copyright {
    margin-right: var(--layout-gap);
}
.footer .footer-navigation a,
.footer .footer-navigation a:hover,
.footer .footer-navigation a:visited,
.footer .footer-navigation a:visited:hover {
    color: rgba(255, 255, 255, 0.8);
}
.footer .footer-navigation a {
    font-weight: normal;
    text-decoration: none;
}
.footer .footer-navigation a:hover {
    text-decoration: underline;
}
.footer .footer-navigation a:not(:first-child) {
    margin-left: var(--layout-gap);
}

.phone .table.table-responsive,
.tablet .table.table-responsive {
    white-space: normal;
}