body.dark-mode {
  --color-primary: #80cef5;
  --color-primary-rgb: 128,206,245;
  --color-secondary: #014e66;
  --color-background-body: #1f2937;
  --color-border: #6b7280;

  --color-neutral-0: #030712;
  --color-neutral-1: #111827;
  --color-neutral-2: #1f2937;
  --color-neutral-3: #374151;
  --color-neutral-4: #4b5563;
  --color-neutral-5: #6b7280;
  --color-neutral-6: #9ca3af;
  --color-neutral-7: #d1d5db;
  --color-neutral-8: #e5e7eb;
  --color-neutral-9: #f3f4f6;
  --color-neutral-10: #f9fafb;
  --color-neutral-11: #fff;

  --color-error-light: #2C0707;
  --color-error: #EB7A7A;

  --color-error-border: #590D0D;
  --color-error-text: #F2A6A6;

  --color-info-light: #001924;
  --color-info: #017aad;
  --color-info-border: #003247;
  --color-info-text: #7BD7FE;
}