:root {
  --font-size-h1: 1.7778rem;
  --font-size-h2: 1.5556rem;
  --font-size-h3: 1.4444rem;
  --font-size-h4: 1.2222rem;
  --font-size-h5: 1.1111rem;
  --font-size-h6: 1rem;
  --font-size-display: 2rem;
  --font-size-base: 1rem;
  --font-size-m: 0.8889rem;
  --font-size-s: 0.7778rem;
  --font-size-xs: 0.6667rem;
  --font-size-label: 0.6111rem;
  --color-primary: #014e66;
  --color-primary-rgb: 1,78,102;
  --color-primary-light: #014e6614;
  --color-secondary: #80cef5;
  --color-primary-hover: #014e66;
  --color-primary-selected: #014e66;
  --color-focus-outer: #db2777;
  --color-red-lightest: #faeaea;
  --color-red-lighter: #e9aaaa;
  --color-red-light: #d96a6a;
  --color-red: #c92a2a;
  --color-red-dark: #ab2424;
  --color-red-darker: #8d1d1d;
  --color-red-darkest: #6f1717;
  --color-orange-lightest: #fef0e6;
  --color-orange-lighter: #fcc29c;
  --color-orange-light: #f99551;
  --color-orange: #f76707;
  --color-orange-dark: #d25806;
  --color-orange-darker: #ad4805;
  --color-orange-darkest: #883904;
  --color-yellow-lightest: #fef5e5;
  --color-yellow-lighter: #fbd999;
  --color-yellow: #f59f00;
  --color-yellow-dark: #d08700;
  --color-yellow-darker: #ac6f00;
  --color-yellow-darkest: #875700;
  --color-lime-lightest: #f1f8e8;
  --color-lime-lighter: #c7e3a2;
  --color-yellow-light: #f8bc4c;
  --color-lime-light: #9ecd5c;
  --color-lime: #74b816;
  --color-lime-dark: #639c13;
  --color-lime-darker: #51810f;
  --color-lime-darkest: #40650c;
  --color-green-lightest: #ebf7ed;
  --color-green-lighter: #afe0b8;
  --color-green-light: #73c982;
  --color-green: #37b24d;
  --color-green-dark: #2f9741;
  --color-green-darker: #267d36;
  --color-green-darkest: #1e622a;
  --color-teal-lightest: #e6f2ef;
  --color-teal-lighter: #9cccbd;
  --color-teal-light: #52a58c;
  --color-teal: #087f5b;
  --color-teal-dark: #076c4d;
  --color-teal-darker: #065940;
  --color-teal-darkest: #044632;
  --color-cyan-lightest: #e7f2f4;
  --color-cyan-lighter: #9eccd3;
  --color-cyan-light: #56a6b2;
  --color-cyan: #0d8091;
  --color-cyan-dark: #0b6d7b;
  --color-cyan-darker: #095a66;
  --color-cyan-darkest: #074650;
  --color-blue-lightest: #e8f2fa;
  --color-blue-lighter: #a3c9ea;
  --color-blue-light: #5fa1db;
  --color-blue: #1a79cb;
  --color-blue-dark: #1667ad;
  --color-blue-darker: #12558e;
  --color-blue-darkest: #0e4370;
  --color-indigo-lightest: #eceffd;
  --color-indigo-lighter: #b3c1f7;
  --color-indigo-light: #7b92f1;
  --color-indigo: #4263eb;
  --color-indigo-dark: #3854c8;
  --color-indigo-darker: #2e45a5;
  --color-indigo-darkest: #243681;
  --color-violet-lightest: #f1edfd;
  --color-violet-lighter: #c6b6f6;
  --color-violet-light: #9b7fef;
  --color-violet: #7048e8;
  --color-violet-dark: #5f3dc5;
  --color-violet-darker: #4e32a2;
  --color-violet-darkest: #3e2880;
  --color-grape-lightest: #f7ecfa;
  --color-grape-lighter: #dfb2e9;
  --color-grape-light: #c678d9;
  --color-grape: #ae3ec9;
  --color-grape-dark: #9435ab;
  --color-grape-darker: #7a2b8d;
  --color-grape-darkest: #60226f;
  --color-pink-lightest: #fbebf0;
  --color-pink-lighter: #efadc4;
  --color-pink-light: #e27098;
  --color-pink: #d6336c;
  --color-pink-dark: #b62b5c;
  --color-pink-darker: #96244c;
  --color-pink-darkest: #761c3b;
  --color-neutral-0: #fff;
  --color-neutral-1: #f9fafb;
  --color-neutral-2: #f3f4f6;
  --color-neutral-3: #e5e7eb;
  --color-neutral-4: #d1d5db;
  --color-neutral-5: #9ca3af;
  --color-neutral-6: #6b7280;
  --color-neutral-7: #4b5563;
  --color-neutral-8: #374151;
  --color-neutral-9: #1f2937;
  --color-neutral-10: #111827;
  --color-neutral-11: #030712;
  --color-border: #9095a2;

  --color-error-light: #FCE9E9;
  --color-error: #de2121;
  --color-error-border: #F8D3D3;
  --color-error-text: #B21A1A;

  --color-warning: #e9a100;
  --color-warning-light: #fdf6e5;

  --color-success-light: #eaf3eb;
  --color-success: #29823b;

  --color-info-light: #EBF9FF;
  --color-info: #017aad;
  --color-info-border: #CCF0FF;
  --color-info-text: #016089;

  --overlay-background: #00000040;
  --space-xs: 0.2222rem;
  --space-s: 0.4444rem;
  --space-base: 0.8889rem;
  --space-m: 1.3333rem;
  --space-l: 1.7778rem;
  --space-xl: 2.2222rem;
  --space-xxl: 2.6667rem;
  --space-input: 1.1111rem;
  --border-radius-soft: 0;
  --border-radius-rounded: 5.5556rem;
  --border-size-s: 0.0556rem;
  --border-size-m: 0.1111rem;
  --border-size-l: 0.1667rem;
  --shadow-xs: 0rem;
  --shadow-s: 0rem;
  --shadow-m: 0rem;
  --shadow-l: 0rem;
  --shadow-xl: 0rem;
  --header-color: #fff;
  --color-background-body: #fff;
  --color-background-login: #fff;
  --header-size: 3.1111rem;
  --header-size-content: 2.6667rem;
  --side-menu-size: 16.6667rem;
  --bottom-bar-size: 3.1111rem;
  --footer-height: 0rem;
  --status-bar-height: 0rem;
  --color-border-dark: #e1ebf1;
  --spacing-0: 0rem; /* 0px */
  --spacing-0-5: 0.1111rem; /* 2px */
  --spacing-1: 0.2222rem; /* 4px */
  --spacing-1-5: 0.3333rem; /* 6px */
  --spacing-2: 0.4444rem; /* 8px */
  --spacing-2-5: 0.5556rem; /* 10px */
  --spacing-3: 0.6667rem; /* 12px */
  --spacing-3-5: 0.7778rem; /* 14px */
  --spacing-4: 0.8889rem; /* 16px */
  --spacing-4-5: 1rem; /* 18px */
  --spacing-5: 1.1111rem; /* 20px */
  --spacing-5-5: 1.2222rem; /* 22px */
  --spacing-6: 1.3333rem; /* 24px */
  --spacing-6-5: 1.4444rem; /* 26px */
  --spacing-7: 1.5556rem; /* 28px */
  --spacing-7-5: 1.6667rem; /* 30px */
  --spacing-8: 1.7778rem; /* 32px */
  --spacing-9: 2rem; /* 36px */
  --spacing-10: 2.2222rem; /* 40px */
  --spacing-11: 2.4444rem; /* 44px */
  --spacing-12: 2.6667rem; /* 48px */
  --spacing-14: 3.1111rem; /* 56px */
  --spacing-16: 3.5556rem; /* 64px */
  --spacing-20: 4.4444rem; /* 80px */
  --spacing-24: 5.3333rem; /* 96px */
  --spacing-28: 6.2222rem; /* 112px */
  --spacing-32: 7.1111rem; /* 128px */
  --spacing-36: 8rem; /* 144px */
  --spacing-40: 8.8889rem; /* 160px */
  --spacing-44: 9.7778rem; /* 176px */
  --spacing-48: 10.6667rem; /* 192px */
  --spacing-52: 11.5556rem; /* 208px */
  --spacing-56: 12.4444rem; /* 224px */
  --spacing-60: 13.3333rem; /* 240px */
  --spacing-64: 14.2222rem; /* 256px */
  --spacing-72: 16rem; /* 288px */
  --spacing-80: 17.7778rem; /* 320px */
  --spacing-96: 21.3333rem; /* 384px */
}