[data-upload]
  background: var(--color-background-body)
  border-color: var(--color-border)
  height: var(--spacing-14)
  padding: var(--spacing-4)

  [data-expression]
    color: var(--color-neutral-11)
    font-weight: 600
    font-size: var(--font-size-base)

  [data-icon]
    font-size: var(--font-size-base)
    margin-left: 0
    margin-right: var(--spacing-3)