.radio-button
  &:before
    background: var(--color-background-body)

  &:checked:before
    border-width: 7px
    background: var(--color-background-body)

  &:checked:hover:before
    filter: none
