[data-upload]
  background: var(--color-background-body)
  border-color: var(--color-border)
  height: var(--spacing-14)
  padding: var(--spacing-4)

  [data-expression]
    color: var(--color-neutral-11)
    font-weight: 600
    font-size: var(--font-size-base)

  [data-icon]
    font-size: var(--font-size-base)
    margin-left: 0
    //margin-right: var(--spacing-3)
    line-height: inherit

  div.label-container
    align-items: center
    gap: var(--spacing-2-5)

    div.filename
      padding-left: 0

[data-block="ESUI_Interaction.Upload_Datei"]
  div.upload-datei
    div.link-leeren
      top: var(--spacing-5)