.dropdown-container > div.dropdown-display, .dropdown-container > select.dropdown-display
  border-color: var(--color-border)
  background: var(--color-neutral-0)
  padding: var(--spacing-4)
  font-size: var(--font-size-base)
  color: var(--color-neutral-11)
  height: auto

.dropdown-container:after
  top: var(--spacing-3-5)
  right: var(--spacing-4)
  border: none
  content: "\f107"
  font-family: "FontAwesome"
  font-size: var(--font-size-h5)
  height: auto
  width: auto
  transform: none
  color: var(--color-neutral-7)
