.btn
  font-size: var(--font-size-h5)
  font-weight: 700
  padding: var(--spacing-4-5) var(--spacing-5-5)
  height: auto
  line-height: var(--font-size-h5)
  border-color: rgba(var(--color-primary-rgb), 0.6)
  gap: var(--spacing-3)
  white-space: nowrap

  &.btn-small
    font-size: var(--font-size-m)
    padding: var(--spacing-2-5) var(--spacing-3-5)

  &.btn-primary
    background: var(--color-primary)

  &.btn-secondary
    background: var(--color-neutral-0)
    color: var(--color-primary)
    border-color: rgba(var(--color-primary-rgb), 0.6)