.dropdown,
.search-input,
input[data-input],
textarea[data-textarea],
[data-switch],
[data-radio-group],
[data-block="ESUI_Interaction.RadioListGroup"],
[data-block="OSUI_Content.Accordion"],
div.input-element
  margin-bottom: calc(var(--layout-gap) * .75) !important


section.card > div[id$="-Inhalt"]
  > [data-container] > button
    margin-bottom: calc(var(--layout-gap) * .75)

.phone .layout:not(.layout-native) [class*=ThemeGrid_Width]:not(.no-responsive)
  margin: 0

/*section.card > div[id$="-Inhalt"] > div
  > [data-container] > [data-container]
    margin-top: var(--spacing-6)*/

[data-block="ESUI_Content.InfoBox"]
  margin-bottom: calc(var(--layout-gap) * .75)
